<%
    view ||= false
    delete ||= false
    book ||= false
    book = book && showing.seats_free.any?

    controls = []

    controls.append(link_to("View", show_showing_path(showing))) if view
    controls.append(link_to(
        "Delete", destroy_showing_path(showing), data: {
            turbo_method: :delete,
            turbo_confirm: 'Are you sure you want to delete this showing?'
    })) if delete
    controls.append(link_to("Book", new_booking_path(booking: {showing_id: showing.id}))) if book

    scontrols = controls.join(" | ")
%>
<div class="item">
    <%= image_tag(showing.movie.image.attached? ? showing.movie.image : get_placeholder(), class: "ui mini circular image entry-image") %>
    <div class="content">
        <% if controls.any?() %>
            <div class="ui sub header"><%= "#{showing.cinema.name} - #{showing.movie.title} - #{showing.timeslot.pretty_time}" %></div>
            <%= raw(scontrols) %>
        <% else %>
            <div class="header"><a href="<%= show_showing_path(showing) %>"><%= "#{showing.cinema.name} - #{showing.movie.title} - #{showing.timeslot.pretty_time}" %></a></div>
        <% end %>
    </div>
</div>