<% provide(:title, "Showings") %>
<%
    pagination = {
        page: @showings.current_page(),
        pages: @showings.total_pages(),
        pages_display: 2,
        options: {
            count: params[:count]
        }
    }
%>
<%= render("partials/page_header", title: "Showings", subtitle: "View your registered showings.") %>
<div class="ui divider"></div>
<%= form_with(
    model: @showing,
    id: "showing-details-form",
    class: "ui form",
    url: create_showing_path()
) do |form| %>
    <div class="field">
        <%= form.label(:cinema_id, "Cinema") %>
        <div id="showing-cinema" class="ui selection dropdown">
            <%= form.hidden_field(:cinema_id, placeholder: "Select a Cinema") %>
            <i class="dropdown icon"></i>
            <div class="default text">Cinema</div>
            <div class="menu">
                <% for cinema in @cinemas %>
                    <div class="item" data-value="<%= cinema.id %>"><%= cinema.name %></div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="field">
        <%= form.label(:movie_id, "Movie") %>
        <div id="showing-movie" class="ui selection dropdown">
            <%= form.hidden_field(:movie_id, placeholder: "Select a Movie") %>
            <i class="dropdown icon"></i>
            <div class="default text">Movie</div>
            <div class="menu">
                <% for movie in @movies %>
                    <div class="item" data-value="<%= movie.id %>"><%= movie.title %></div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="field">
        <%= form.label(:timeslot_id, "Timeslot") %>
        <div id="showing-timeslot" class="ui selection dropdown disabled">
            <%= form.hidden_field(:timeslot_id, placeholder: "Select a Timeslot") %>
            <i class="dropdown icon"></i>
            <div class="default text">Timeslot</div>
            <div class="menu">
            </div>
        </div>
    </div>
    <div class="ui right aligned fitted basic segment">
        <%= form.submit("Register", class: "ui orange button") %>
    </div>
    <%= render("partials/messages", messages: flash[:messages]) %>
    <div class="ui error message form-error-message"></div>
<% end %>

<% if @showings.any? %>
    <div class="ui divider"></div>

    <div class="ui segment">
        <div class="ui list">
            <%= render(@showings, view: true, delete: true) %>
        </div>
        
        <% if @showings.total_pages > 1 %>
            <div class="ui center aligned basic fitted segment">
                <%= render("partials/pagination", pagination) %>
            </div>
        <% end %>
    </div>
<% end %>
