<% provide(:title, @movie.title) %>
<%
    signed_in = controller.get_signed_in()
    admin = signed_in && signed_in.admin?
    pagination = {
        page: @showings.current_page(),
        pages: @showings.total_pages(),
        pages_display: 2,
        options: {
            count: params[:count]
        }
    }
%>
<h2 class="ui center aligned icon header">
    <%= image_tag(@movie.image.attached? ? @movie.image : get_placeholder(), class: "ui circular image profile-image") %>
    <div class="content">
        <%= @movie.title %>
        <div class="sub header"><%= @movie.description %></div>
    </div>
</h2>

<div class="ui divider"></div>

<div class="ui accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        <h3 class="ui header">
            <div class="content">
                <i class="orange icon tv"></i>
                Showings (<%= @showings.total_count %>)
                <div class="sub header">The now showing instances of this movie.</div>
            </div>
        </h3>
    </div>
    <div class="ui bottom attached segment orange content">
        <% if @showings.any?() %>
            <div class="ui divided relaxed middle aligned list">
                <%= render(@showings, view: true, book: !admin) %>
            </div>
        <% else %>
            <span>There's nothing to see here.</span>
        <% end %>
        <% if @showings.total_pages > 1 %>
            <div class="ui center aligned basic fitted segment">
                <%= render("partials/pagination", pagination) %>
            </div>
        <% end %>
    </div>
</div>

<%
    active = params[:active]
    accordion = [
        "showings"
    ]
    index = accordion.index(active)
    if index != nil %>
    <%= javascript_tag("$(\".ui.accordion\").accordion(\"open\", #{index})")%>
<% end %>