<% provide(:title, "Timeslots") %>
<%
    pagination = {
        page: @timeslots.current_page(),
        pages: @timeslots.total_pages(),
        pages_display: 2,
        options: {
            count: params[:count]
        }
    }
%>
<%= render("partials/page_header", title: "Timeslots", subtitle: "View your registered timeslots.") %>
<div class="ui basic labels">
    <a class="ui label">
        Total
        <div class="detail"><%= @timeslots.total_count %></div>
    </a>
</div>
<div class="ui divider"></div>
<%= form_with(
    model: @timeslot,
    id: "timeslot-details-form",
    class: "ui form",
    url: create_timeslot_path()
) do |form| %>
    <div class="field">
        <%= form.label(:time) %>
        <div class="ui calendar time">
            <div class="ui left icon input">
                <%= form.text_field(:time, placeholder: "7:00 PM", value: nil) %>
                <i class="time icon"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <%= form.label(:label) %>
        <div class="ui left icon input">
            <%= form.text_field(:label, placeholder: "Morning", value: nil) %>
            <i class="tag icon"></i>
        </div>
    </div>
    <div class="ui right aligned fitted basic segment">
        <%= form.submit("Register", class: "ui orange button") %>
    </div>
    <div class="ui error message form-error-message"></div>
<% end %>
<%= render("partials/messages", messages: flash[:messages]) %>

<% if @timeslots.any? %>
    <div class="ui divider"></div>

    <div class="ui segment">
        <div class="ui list">
            <%= render(@timeslots, view: true, delete: true) %>
        </div>
        
        <% if @timeslots.total_pages > 1 %>
            <div class="ui center aligned basic fitted segment">
                <%= render("partials/pagination", pagination) %>
            </div>
        <% end %>
    </div>
<% end %>
