<% provide(:title, "New Cinema") %>
<%

%>
<%= render("partials/page_header", title: "New Cinema", subtitle: "Add a new cinema to the database.") %>
<div class="ui divider"></div>
<%= form_with(
    model: @cinema,
    id: "cinema-details-form",
    class: "ui form",
    url: create_cinema_path()
) do |form| %>
    <div class="field">
        <%= form.label(:name) %>
        <div class="ui left icon input">
            <%= form.text_field(:name, placeholder: "JDC Cinema", value: nil) %>
        </div>
    </div>
    <%= form.hidden_field(:seats, value: 10) %>
    <div class="two fields">
        <div class="field">
            <%= form.label(:location) %>
            <div class="ui left icon input">
                <%= form.text_field(:location, placeholder: "Bacoor City, Cavite", value: nil) %>
            </div>
        </div>
        <div class="field disabled">
            <%= label_tag(:seats_display, "Seats") %>
            <div class="ui left icon input">
                <%= number_field_tag(nil, 10, id: :seats_display) %>
            </div>
        </div>
    </div>
    <div class="ui right aligned fitted basic segment">
        <%= form.submit("Submit", class: "ui orange button") %>
    </div>
    <%= render("partials/messages", messages: flash[:messages]) %>
    <div class="ui error message form-error-message"></div>
<% end %>
